<!DOCTYPE html>
<html>
  <head>
    <title>Stripe Checkout</title>
    <link rel="stylesheet" href="https://stripe-samples.github.io/developer-office-hours/demo.css" type="text/css" />
  </head>
  <body>
    <div id="main">
      <div id="checkout">
        <div id="payment-form">
          <h1>Checkout Successful</h1>
          <h2><%= session_id %></h2>
          <h2><a href="/checkout/init">Restart Demo!</a></h2>
        </div>
      </div>
    </div>
  </body>
</html>